.DS_Store
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.tlog
*.obj
*.ipch
*.idb
*.log
*.cache
*.user
*.pdb
*.illk
*.exp
*.sdf
*.db
*.opendb

[Oo]bj/

Debug/
Release/
Library/
Temp/
project.xcworkspace/
xcuserdata/

Dev/Cpp/macosx/build/
Dev/Cpp/webgl/CMakeFiles/
Dev/Cpp/webgl/CMakeCache.txt
Dev/Cpp/webgl/*.cmake
Dev/Cpp/webgl/MakeFile

Dev/Plugin/*.sln
Dev/Plugin/*.csproj
Dev/build_linux/

Sample/*/Build/
Sample/*/Assets/Plugins/
Sample/*/Temp/
Sample/*/*.sln
Sample/*/*.csproj

Tests/LWRPTests/Assets/Effekseer/
