# VR

## How to debug VR without device
Note: This Unity version is 2021.3, other version is maybe defferent flow.

First, enable `Project Settings/XR Plug-in Management/OpenXR`
![image](https://user-images.githubusercontent.com/3889597/182819085-70b6708e-1c64-4be4-ba55-b425cb82ecbc.png)

Check `Project Settings/OpenXR/Mock Runtime`
![image](https://user-images.githubusercontent.com/3889597/182819110-6a4449e3-340a-40a7-935f-bc56419798dc.png)

Select camera in scene and select `GameObject/XR/Convert Main Camera To XR Rig` menu item.
![image](https://user-images.githubusercontent.com/3889597/182819214-492d48e5-de2b-4074-9075-467835b274c2.png)

And select `Both Eyes` in game view window header.
![image](https://user-images.githubusercontent.com/3889597/182819263-95d011c9-12e6-4e13-b467-0c7a831e5cd2.png)

## TODO
