on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git clone --depth 1 https://github.com/effekseer/Effekseer.git ../Effekseer
      - name: build script
        run: |
          cd Dev/Cpp/android
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_x86.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_x86.mk
          cp libs/x86/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/x86/
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_armeabi-v7a.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_armeabi-v7a.mk
          cp libs/armeabi-v7a/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/armeabi-v7a/
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_arm64-v8a.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_arm64-v8a.mk
          cp libs/arm64-v8a/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/arm64-v8a/
      - name: Upload math result for android
        uses: actions/upload-artifact@v1
        with:
          name: Android
          path: ./Dev/Plugin/Assets/Effekseer/Plugins/Android
  ios:
    name: iOS Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: git clone --depth 1 https://github.com/effekseer/Effekseer.git ../Effekseer
      - run: cd  ./Dev/Cpp/macosx/ && ./Build.sh
      - name: Upload math result for ios
        uses: actions/upload-artifact@v1
        with:
          name: iOS
          path: ./Dev/Plugin/Assets/Effekseer/Plugins/iOS
  windows:
    name: windows Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: git clone --recursive --depth 1 https://github.com/effekseer/Effekseer.git ../Effekseer
      - name: Build
        run: cd ./Dev/Cpp/windows && Build.bat
        shell: cmd
      - name: Upload math result for x86
        uses: actions/upload-artifact@v1
        with:
          name: x86
          path: ./Dev/Plugin/Assets/Effekseer/Plugins/x86_64
      - name: Upload math result for x86_64
        uses: actions/upload-artifact@v1
        with:
          name: x86_64
          path: ./Dev/Plugin/Assets/Effekseer/Plugins/x86_64
  webgl:
    name: wrbgl Build with emsdk 1.38
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2


      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v2
        with:
          version: 1.38.40


      - run: git clone --depth 1 https://github.com/effekseer/Effekseer.git ../Effekseer
      - run: |
          cd ./Dev/Cpp/webgl
          mkdir build138
          cd build138
          emcmake cmake ..
          make
          mkdir ../../../Plugin/Assets/Effekseer/Plugins/WebGL/1.38.40-64bit/

      - name: Upload math result for webgl 1.38
        uses: actions/upload-artifact@v1
        with:
          name: webgl1.38
          path: ./Dev/Plugin/Assets/Effekseer/Plugins/WebGL/1.38.4064bit/

