on:
  push:
    branches:
      - 16x
  pull_request:
    branches:
      - 16x
jobs:
  android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sh scripts/clone_dependencies.sh
      - name: build script
        run: |
          cd Dev/Cpp/android
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_x86.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_x86.mk
          cp libs/x86/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/x86/
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_armeabi-v7a.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_armeabi-v7a.mk
          cp libs/armeabi-v7a/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/armeabi-v7a/
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build clean  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_arm64-v8a.mk
          $ANDROID_SDK_ROOT/ndk-bundle/ndk-build -j4  NDK_PROJECT_PATH=./ NDK_APPLICATION_MK=jni/Application_arm64-v8a.mk
          cp libs/arm64-v8a/libEffekseerUnity.so ../../Plugin/Assets/Effekseer/Plugins/Android/libs/arm64-v8a/
      - name: Upload math result for android
        uses: actions/upload-artifact@v1
        with:
          name: Android
          path: ./Dev/Plugin/Assets/Effekseer/Plugins

  mac_ios:
    name: mac iOS Build
    runs-on: macOS-10.15
    steps:
      - uses: actions/checkout@v2
      - run: sh scripts/clone_dependencies.sh
      - run: cd  ./Dev/Cpp/macosx/ && ./Build.sh
      - name: Upload ios
        uses: actions/upload-artifact@v1
        with:
          name: mac_iOS
          path: ./Dev/Plugin/Assets/Effekseer/Plugins

  windows:
    name: windows Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: scripts/clone_dependencies.bat
      - name: Build
        run: cd ./Dev/Cpp/windows && Build.bat
        shell: cmd
      - name: Upload math result
        uses: actions/upload-artifact@v1
        with:
          name: Windows
          path: ./Dev/Plugin/Assets/Effekseer/Plugins

  webgl_1-38:
    name: WebGL Build with emsdk 1.38
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache emsdk
        id: cache
        uses: actions/cache@v1
        with:
          path: ./emsdk
          key: ${{ runner.os }}-emsdk-1_38-v1

      - name: install emsdk 1.38
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 https://github.com/emscripten-core/emsdk.git
          cd emsdk
          ./emsdk install sdk-fastcomp-tag-1.38.11-64bit
          cd ..

      - run: sh scripts/clone_dependencies.sh
      - run: |
          ./emsdk/emsdk activate sdk-fastcomp-tag-1.38.11-64bit
          source ./emsdk/emsdk_env.sh
          cd ./Dev/Cpp/webgl
          mkdir build138
          cd build138
          emcmake cmake -DCMAKE_BUILD_TYPE=Release ..
          make
          cp libEffekseerUnity.bc ../../../Plugin/Assets/Effekseer/Plugins/WebGL/
      - name: Upload math result for webgl
        uses: actions/upload-artifact@v1
        with:
          name: WebGL_1-38
          path: ./Dev/Plugin/Assets/Effekseer/Plugins

  merge:
    name: merge
    runs-on: ubuntu-latest
    needs: [android, mac_ios, windows, webgl_1-38]
    steps:
      - uses: actions/checkout@v2
      - name: Download Android
        uses: actions/download-artifact@v1
        with:
          name: Android

      - name: Download mac_ios
        uses: actions/download-artifact@v1
        with:
          name: mac_iOS

      - name: Download mac_ios
        uses: actions/download-artifact@v1
        with:
          name: Windows

      - name: Download webgl 1.38
        uses: actions/download-artifact@v1
        with:
          name: WebGL_1-38
      - name: Copy
        run: |
          mv Android/Android/libs/arm64-v8a/libEffekseerUnity.so Dev/Plugin/Assets/Effekseer/Plugins/Android/libs/arm64-v8a/
          mv Android/Android/libs/armeabi-v7a/libEffekseerUnity.so Dev/Plugin/Assets/Effekseer/Plugins/Android/libs/armeabi-v7a/
          mv Android/Android/libs/x86/libEffekseerUnity.so Dev/Plugin/Assets/Effekseer/Plugins/Android/libs/x86/
          mv mac_iOS/iOS/libEffekseerUnity.a Dev/Plugin/Assets/Effekseer/Plugins/iOS/libEffekseerUnity.a
          rm -rf Dev/Plugin/Assets/Effekseer/Plugins/EffekseerUnity.bundle
          cp -f -r mac_iOS/EffekseerUnity.bundle Dev/Plugin/Assets/Effekseer/Plugins/
          mv WebGL_1-38/WebGL/libEffekseerUnity.bc Dev/Plugin/Assets/Effekseer/Plugins/WebGL/
          mv Windows/x86/EffekseerUnity.dll Dev/Plugin/Assets/Effekseer/Plugins/x86/
          mv Windows/x86_64/EffekseerUnity.dll Dev/Plugin/Assets/Effekseer/Plugins/x86_64/
      - name: Upload math result
        uses: actions/upload-artifact@v1
        with:
          name: merged
          path: Dev/Plugin/Assets/Effekseer
      - run: pip install PyYAML
      - run: mkdir dist
      - run: |
          cd Dev/Plugin
          python3 ../../create_unitypackage.py -r -o ../../dist/Effekseer.tar.gz Assets/Effekseer
          mv ../../dist/Effekseer.tar.gz ../../dist/Effekseer.unitypackage


      - name: Upload math result
        uses: actions/upload-artifact@v1
        with:
          name: Effekseer.unitypackage
          path: dist